In [6]:
import pandas as pd
import numpy as np
from textblob import TextBlob
from sklearn.metrics import accuracy_score

ModuleNotFoundError: No module named 'sklearn'

In [4]:
#loading tsv file into a dataframe
df = pd.read_table("review.tsv")

In [5]:
df

            id  sentiment                                             review
0       5814_8          1  With all this stuff going down at the moment w...
1       2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2       7759_3          0  The film starts with a manager (Nicholas Bell)...
3       3630_4          0  It must be assumed that those who praised this...
4       9495_8          1  Superbly trashy and wondrously unpretentious 8...
...        ...        ...                                                ...
24995   3453_3          0  It seems like more consideration has gone into...
24996   5064_1          0  I don't believe they made this film. Completel...
24997  10905_3          0  Guy is a loser. Can't get girls, needs to buil...
24998  10194_3          0  This 30 minute documentary Buñuel made in the ...
24999   8478_8          1  I saw this movie as a child and it broke my he...

[25000 rows x 3 columns]

In [10]:
#checking for any nan/blank values
df.isnull().sum()

id           0
sentiment    0
review       0
dtype: int64

In [4]:
#grouping by the sentiment and counting them all
df1 = df.groupby('sentiment').count()

In [5]:
#1 is a positive review, and 0 is a negative review
df1

              id  review
sentiment
0          12500   12500
1          12500   12500

In [11]:
#different code to find the pos vs neg review numbers
df['sentiment'].value_counts()

1    12500
0    12500
Name: sentiment, dtype: int64

Use TextBlob to classify each movie review as positive or negative. Assume that a polarity score greater than or equal to zero is a positive sentiment and less than 0 is a negative sentiment.

In [6]:
#polarity labels
labels = ["Negative", "Positive"]

In [7]:
def textblob_analyzer(df):
    results = []
    def getPolarity(text):
        return TextBlob(text).sentiment.polarity
    for review in df:
        polarity = getPolarity(review)
        if polarity >= 0:
            results.append('positive')
        else:
            results.append('negative')
    return results

TypeError: The `text` argument passed to `__init__(text)` must be a string, not <class 'pandas.core.frame.DataFrame'>

In [ ]:
def sentiment_analysis(df):
 def getSubjectivity(text):
   return TextBlob(text).sentiment.subjectivity
  
 #Create a function to get the polarity
 def getPolarity(text):
   return TextBlob(text).sentiment.polarity
  
 #Create two new columns ‘Subjectivity’ & ‘Polarity’
 df[‘TextBlob_Subjectivity’] =    df[‘sentiment’].apply(getSubjectivity)
 df[‘TextBlob_Polarity’] = df[‘sentiment’].apply(getPolarity)
 def getAnalysis(score):
  if score < 0:
    return ‘Negative’
  else:
    return ‘Positive’
 df[‘TextBl']